<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbsut8pNVJvFXzv3z8LXJFcrKim7uZDdo</string>
	<key>GCM_SENDER_ID</key>
	<string>256703153439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.khan.littlebrazil</string>
	<key>PROJECT_ID</key>
	<string>little-brazil</string>
	<key>STORAGE_BUCKET</key>
	<string>little-brazil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256703153439:ios:0ea29c1f969459df46dc2a</string>
</dict>
</plist>